# === INFRASTRUCTURE ===
CLUSTER_PORT=8070
LOCAL_GATEWAY_PORT=4000
LOCAL_FRONTEND_PORT=3000

# === SHARED SECRETS ===
MESSENGER_USER=admin
MESSENGER_PASS=admin

# === CONFIGS ===
API_DOMAIN_LOCAL=localhost
API_DOMAIN_CLUSTER=platform-tooling-messenger-service

# === THE TOGGLE ===
NODE_ENV=development # 'development' or 'production'
API_IN_CLUSTER=true # 'true' or 'false', changes whether the gateway expects to be running inside the cluster (affects schema generation and some config)