PORT=4000
NODE_ENV=development
MESSENGER_USER=admin // Update this to match your RabbitMQ credentials
MESSENGER_PASS=password // Update this to match your RabbitMQ credentials
API_DOMAIN=localhost